# Use DecapBridge PKCE auth (required)
backend:
  name: git-gateway
  repo: keamarg/AiA
  branch: main
  auth_type: pkce
  base_url: https://auth.decapbridge.com
  auth_endpoint: /sites/0ca4c8f0-e9c7-485a-853d-b89a853b9e11/pkce
  auth_token_endpoint: /sites/0ca4c8f0-e9c7-485a-853d-b89a853b9e11/token
  gateway_url: https://gateway.decapbridge.com

  # See who did what (optional)
  commit_messages:
    create: Create {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    update: Update {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    delete: Delete {{collection}} “{{slug}}” - {{author-name}} <{{author-login}}> via DecapBridge
    uploadMedia: Upload “{{path}}” - {{author-name}} <{{author-login}}> via DecapBridge
    deleteMedia: Delete “{{path}}” - {{author-name}} <{{author-login}}> via DecapBridge
    openAuthoring: Message {{message}} - {{author-name}} <{{author-login}}> via DecapBridge

# Enable PKCE fields (optional, recommended)
auth:
  email_claim: email
  first_name_claim: first_name
  last_name_claim: last_name
  avatar_url_claim: avatar_url

# Better Decap + Bridge logo (optional)
logo_url: https://decapbridge.com/decapcms-with-bridge.svg

# Add site links in Decap CMS (optional)
site_url: https://keamarg.github.io/AiA

media_folder: "src/assets/uploads"
public_folder: "/assets/uploads"
publish_mode: editorial_workflow
local_backend: false
#local_backend: true

collections:
  # Home page
  - name: home
    label: Home
    files:
      - file: "src/index.md"
        label: Landing Page
        name: landing
        fields:
          - { label: Title, name: title, widget: string }
          - { label: Is Home, name: isHome, widget: hidden, default: true }
          - {
              label: Hero Heading,
              name: hero_heading,
              widget: string,
              required: false,
            }
          - { label: Hero Text, name: hero_text, widget: text, required: false }
          - {
              label: Hero Image,
              name: hero_image,
              widget: image,
              required: false,
            }
          - { label: Body, name: body, widget: markdown, required: false }

  # Category: Om projektet
  - name: om_projektet
    label: Om projektet
    folder: "src/om-projektet"
    create: true
    slug: "{{slug}}"
    path: "{{slug}}.md"
    fields:
      - { label: Title, name: title, widget: string }
      - { label: Layout, name: layout, widget: hidden, default: "layout.njk" }
      - { label: Image, name: image, widget: image, required: false }
      - { label: Intro, name: intro, widget: text, required: false }
      - { label: Body, name: body, widget: markdown, required: false }

  # Category: AiA Forløb
  - name: aia_forlob
    label: AiA Forløb
    folder: "src/aia-forlob"
    create: true
    slug: "{{slug}}"
    path: "{{slug}}.md"
    fields:
      - { label: Title, name: title, widget: string }
      - { label: Layout, name: layout, widget: hidden, default: "layout.njk" }
      - { label: Image, name: image, widget: image, required: false }
      - { label: Intro, name: intro, widget: text, required: false }
      - { label: Body, name: body, widget: markdown, required: false }

  # Category: Begreber og fokusområder
  - name: begreber_fokus
    label: Begreber og fokusområder
    folder: "src/begreber-og-fokusomraader"
    create: true
    slug: "{{slug}}"
    path: "{{slug}}.md"
    fields:
      - { label: Title, name: title, widget: string }
      - { label: Layout, name: layout, widget: hidden, default: "layout.njk" }
      - { label: Image, name: image, widget: image, required: false }
      - { label: Intro, name: intro, widget: text, required: false }
      - { label: Body, name: body, widget: markdown, required: false }

  # Category: Produkter
  - name: produkter
    label: Produkter
    folder: "src/produkter"
    create: true
    slug: "{{slug}}"
    path: "{{slug}}.md"
    fields:
      - { label: Title, name: title, widget: string }
      - { label: Layout, name: layout, widget: hidden, default: "layout.njk" }
      - { label: Image, name: image, widget: image, required: false }
      - { label: Intro, name: intro, widget: text, required: false }
      - { label: Body, name: body, widget: markdown, required: false }

  # Blog posts
  - name: posts
    label: Blog Posts
    folder: "src/posts"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    path: "{{slug}}.md"
    fields:
      - { label: Title, name: title, widget: string }
      - { label: Publish Date, name: date, widget: datetime }
      - { label: Body, name: body, widget: markdown }
      - { label: Featured Image, name: image, widget: image, required: false }
      - { label: Tags, name: tags, widget: hidden, default: ["post"] }

  # Settings
  - name: settings
    label: Settings
    files:
      - file: "src/_data/navigation.json"
        label: Navigation
        name: navigation
        fields:
          - label: Items
            name: items
            widget: list
            collapsed: false
            fields:
              - { label: Label, name: label, widget: string }
              - { label: URL, name: url, widget: string }
              - label: Children
                name: children
                widget: list
                required: false
                fields:
                  - { label: Label, name: label, widget: string }
                  - { label: URL, name: url, widget: string }
      - file: "src/_data/site.json"
        label: Site
        name: site
        fields:
          - { label: Title, name: title, widget: string }
